@{
	ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	Use this area to provide additional information.
</p>

<p>
	Lorem ipsum dolor sit amet, id elit omnis comprehensam sed, nam ei altera dictas disputationi,
	sea doctus iuvaret cu. Ius et wisi dicta. Consequat abhorreant sea cu, copiosae omittantur an duo,
	pro ut probo dolore. Discere deleniti inciderint vis id, te pri suas fabellas. Commune voluptaria constituam cum ei.

</p>

<p>	Impetus feugiat sea cu, sint duis per id. Vel verterem senserit scriptorem ne, putant similique ei
	cum. Dicat movet quando sit ne. Pri mutat perfecto ex, nam wisi illum appareat eu, pro ad principes
	conceptam percipitur. No unum tota mazim sea, eam labores inermis ex.
</p>

<p>
	Habeo verterem postulant mea at, te quo simul libris ocurreret, nec et viderer dolorum denique. Cu his
	nobis euripidis constituto, id ius autem tibique theophrastus. Errem suavitate sed no, cum fuisset
	salutandi cu, eu qui zril oratio evertitur. Modo erroribus est ad. Partem scribentur mel te, in est quando ignota forensibus.
</p>

<p>
	Denique ancillae eos no, mei omnesque concludaturque eu, duo ei verterem senserit temporibus. Ut meis
	quaestio eleifend eos. Id pri augue aliquid, an mel docendi disputando. Ponderum euripidis est in, ne
	cum dolore consequuntur, homero commune id vim. Eam no cibo error vulputate.
</p>

<p>
	Tota eruditi dissentiet et usu, eam ei exerci detraxit definitiones, graece iuvaret ius in. Mea albucius
	luptatum ne. In vidisse labitur labores cum, est minim nonumy liberavisse id. Mea tantas graecis sententiae
	ea, in ius fastidii eleifend reprimique. Indoctum theophrastus usu ea, ne sed integre salutandi, vel dolor
	oblique id. Ius no wisi facilis principes, eam ut vide timeam aeterno, eum ea alii omnesque.
</p>
