@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	As of spring semester 2015<br />
   3045 Residence Drive<br />
	President's Hall Rm 5309C <br />
    Toledo, OH 43606<br />
    <abbr title="Phone">P:</abbr>
    216-246-8532
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/dsilva609/" target="_blank">https://github.com/dsilva609/</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/dsilva609" target="_blank">https://twitter.com/dsilva609/</a>
</address>