@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Super Awesome Website 6</h1>
	<p class="lead">
		Denique ancillae eos no, mei omnesque concludaturque eu, duo ei verterem senserit temporibus.
		Ut meis quaestio eleifend eos. Id pri augue aliquid, an mel docendi disputando. Ponderum euripidis est in,
		ne cum dolore consequuntur, homero commune id vim. Eam no cibo error vulputate.
	</p>
	<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>
			Lorem ipsum dolor sit amet, id elit omnis comprehensam sed, nam ei altera dictas disputationi, sea
			doctus iuvaret cu. Ius et wisi dicta. Consequat abhorreant sea cu, copiosae omittantur an duo, pro ut
			probo dolore. Discere deleniti inciderint vis id, te pri suas fabellas. Commune voluptaria constituam cum ei.
		</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>
			Impetus feugiat sea cu, sint duis per id. Vel verterem senserit scriptorem ne, putant similique ei cum.
			Dicat movet quando sit ne. Pri mutat perfecto ex, nam wisi illum appareat eu, pro ad principes conceptam
			percipitur. No unum tota mazim sea, eam labores inermis ex.
		</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>
			Habeo verterem postulant mea at, te quo simul libris ocurreret, nec et viderer dolorum denique.
			Cu his nobis euripidis constituto, id ius autem tibique theophrastus. Errem suavitate sed no, cum
			fuisset salutandi cu, eu qui zril oratio evertitur. Modo erroribus est ad. Partem scribentur mel te,
			in est quando ignota forensibus.
		</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>